<!DOCTYPE html>
<html>
<head>
  <title>Services - Electricity Company</title>
  <link rel="stylesheet" type="text/css" href="../static/services.css">
  <link rel="stylesheet" type="text/css" href="../static/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% include 'header.html' %}

  <main>
    <div class="container">
      <h2>Services</h2>
      <div class="service-cards">
        <div class="service-card">
          <div class="service-icon">
            <i class="fas fa-bolt"></i>
          </div>
          <h3>Electricity Installation</h3>
          <p>Request a new electricity installation for your property.</p>
          <a href="mailto:installation@electricitycompany.com" class="button">Contact Us</a>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i class="fas fa-tools"></i>
          </div>
          <h3>Maintenance and Repair</h3>
          <p>Schedule maintenance or repair services for your electrical system.</p>
          <a href="mailto:maintenance@electricitycompany.com" class="button">Contact Us</a>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <i class="fas fa-lightbulb"></i>
          </div>
          <h3>Energy Efficiency Consultation</h3>
          <p>Get expert advice on improving your energy efficiency and reducing costs.</p>
          <a href="mailto:consultation@electricitycompany.com" class="button">Contact Us</a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <!-- Include your footer code here -->
  </footer>
</body>
</html>